.paginateContainer {
    position:static;
    left: 3rem;
}

.numbers {
    font-size: small;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.button3 {
    font-family: 'Nunito', 'Work Sans', 'Hind', sans-serif;
    font-size: small;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);

    color: #fff;

    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
    padding: 0.1rem;

    border: 0;
    border-radius: 0.3rem;

    background-color: #a9a9a9;
    /* box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s ease;
}

.button3:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}