.navBarContainer {
    height: 10vh;
    background-color: #00699e;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navBarOptions {
    display:flex;
    height: inherit;
    justify-content: space-evenly;
    align-items: center;
}

.navBarBack {
    padding-left: 3rem;
    display:flex;
    height: 10vh;
    align-items: center;
}

.button1 {
    font-family: 'Nunito', 'Work Sans', 'Hind', sans-serif;
    font-size: medium;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);

    color: #fff;

    height: 2rem;
    width: 8rem;

    border: 0;
    border-radius: 0.3rem;

    background-color: #a9a9a9;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}